<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The fool's post">
    <meta name="keywords" content="fool, wise, blog, posts, articles, philosophy, science, technology, mental, psychological">
    <meta name="author" content="The Fool">
    <meta name="msvalidate.01" content="59FD170CE5AAEF21805AC2466A71E743" />
    <link rel="icon" href="{{url_for('static', filename='images/clown.png')}}" type="image/png">
    <meta property="og:url" content="https://wisefool.pythonanywhere.com">
    <meta property="og:title" content="the Wise Fool">
    <title>thewisefool</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styling/custom.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styling/body.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styling/articles.css')}}" media="print" onload="this.media='all'">
    <link id="theme" rel="stylesheet" type="text/css" href="{{url_for('static',filename='styling/light.css')}}">
    
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Shadows+Into+Light&family=Kalam&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="custom-navbar">
        <div class="custom-container">
          <div class="navbar-content">
            <div class="navbar-left">
              <button type="button" class="navbar-toggle" id="navbar-toggle">
                <div class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </button>
              <a class="navbar-brand" href="{{url_for('home.home')}}">ThE wIsE foOl</a>
            </div>
            
            <div class="navbar-right">
              
              <div class="auth-buttons">
                <a href="{{url_for('login.login')}}" class="auth-button login-button">
                  <span class="glyphicon glyphicon-log-in"></span> Login
                </a>
                <a href="{{url_for('register_user.register_user')}}" class="auth-button signup-button">
                  <span class="glyphicon glyphicon-user"></span> Signup
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{url_for('home.home')}}">Home</a></li>
              <li><a href="{{url_for('about.about')}}">About</a></li>
              <li><a href="{{url_for('help.help')}}">Help</a></li>
              <li><a href="{{url_for('terms.terms')}}">Terms</a></li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="body-container">
        <div class="custom-title">
            {% block title %}
            {% endblock %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <footer class="custom-footer">
        <div class="socials">
            <div class="email"><a href="mailto:oddsthingshere@gmail.com" data-toggle="tooltip" data-placement="top" title="contact us"><img src="{{url_for('static',filename='images/email.jpg')}}" width="40" height="30" alt="email us here"></a></div>
        </div>
    </footer>

    <script src="{{url_for('static',filename='script/theme.js')}}" loading="lazy"></script>
    <script>
        document.getElementById('navbar-toggle').addEventListener('click', function() {
            var navbarCollapse = document.getElementById('navbar-collapse');
            if (navbarCollapse.style.display === 'block') {
                navbarCollapse.style.display = 'none';
            } else {
                navbarCollapse.style.display = 'block';
            }
        });
    </script>
</body>
</html>