{% extends 'base.html' %}
{% block title %}
dratfs
{% endblock %}

{% block content %}
{%if drafts is none%}
    <p>no drafts available</p>
{% elif drafts is iterable and drafts|length > 0 %}
    <ul>
        {% for draft in drafts %}
            {% if draft is not none %}
           <p>  <li><a href="{{url_for ('draft.draft',username=draft[0])}}">{{ draft[0] }}</a></li><p>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
        <p>No drafts available.</p>
    {% endif %}
</div>

{% endblock %}