{% extends 'base.html' %}

{% block title %}
edit articles
{% endblock %}

{% block content %}
<div class="content">
<form class="content" name="view" action="edit_articles" method="POST">
    <input type="hidden" name="form_name" value="view">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="title">Article_title</label>
    <input name="title" id="title" type="text">
    <button type="submit">view</button>
</form>

<form class="content" name="update" action="edit_articles" method="POST">
    <input type="hidden" name="form_name" value="update">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="article_content"></label>
    <input name="title" id="title" type="hidden" value="{{title}}">
    <textarea name="article_content" id="article_content" cols="30" rows="10">{{ article_content }}</textarea>
    <button type="submit">update</button>

</form>
</div>

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styling/forms.css')}}">
{% endblock %}