{% extends 'base.html' %}

{% block title %}

    Into the Circus

{% endblock %}
{% block content %}

    <form class="form_content" action="login" method="post">

        {{form.csrf_token}}
        {{form.username.label}}{{form.username()}}
        <span><br></span>
        {{form.password.label}}{{form.password()}}
        <span><br></span>

        {% if error %}
        <span style="font-family:'Caveat', 'Shadows Into Light',cursive ,sans-serif; font-size:1.3rem; color: red;">
            {{ error }}</span>
        {% endif %}
        <button type="submit">Login</button>


    </form>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styling/forms.css')}}">
{% endblock %}