{% extends 'base.html' %}
{% block title %}
Terms and conditions
{% endblock %}
{% block content %}
<p>

    <h2>Terms and Conditions</h2>
    

     Welcome to our blog site. By accessing and using this site, you agree to the following terms and conditions:
    
    <li> Access to Content: Readers may access and read any article published on this site.</li>
    
    <li>Registration: Readers may register on the website to receive notifications when new articles are published.</li>
    
    <li>Cookies: This site uses cookies to store your current session. We do not use cookies for any other purpose.</li>
    
    <li>Governing Law: These terms and conditions are governed by the laws of Kenya.</li>
</ul>
</p>
{% endblock %}