{% extends 'base.html' %}

{% block tilte %}
Verify email
{% endblock %}

{% block content %}
<form class="content" action="verification" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="confirmation_code">Enter verification code</label>
    <Input name="confirmation_code" type="text"></Input>
    {% if error %}
        <span style="font-family:'Caveat', 'Shadows Into Light',cursive ,sans-serif; font-size:1.3rem; color: red;">
            {{ error }}</span>
        {% endif %}
    <button type="submit" >Submit</button>
</form>
{% endblock %}