{% extends 'base.html' %}

{% block title %}
Writer's Page
{% endblock %}

{% block content %}
<form class="write" name="write_form" action="{{url_for('write_article.write_article')}}" method="POST">
    <div class="write1">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="title">Title</label>
    <input name="title" id="title" type="text">
    <label for="article_content"></label>
    <textarea name="article_content" id="article_content" cols="30" rows="10"></textarea>
    </div>
    <div class="write1">
    <button type="submit">Post</button>
    </div>
</form>

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styling/write.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styling/forms.css')}}">
{% endblock %}