
/* Body and HTML Styles */
body, html {
  height: 100%;
  
  margin: 0;
  padding: 0;
  font-family: 'Kalam', 'Caveat', 'Shadows Into Light', cursive, sans-serif;
  font-size: 16px;

}
body{
  display: flex;
  flex-direction: column;
}
*{
  box-sizing: border-box;
}

/* Container Styles */
.container {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Paragraph Styles */
p {
  padding: 5%;
  font-family: 'Kalam', 'Caveat', 'Shadows Into Light', cursive, sans-serif;
  font-size: 1.1rem ;
  line-height: 1.8;
}

/* Socials Styles */
.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.socials img {
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.socials img:hover {
  transform: scale(1.1);
}



/* Link Styles */
a {
  font-family: 'Kalam', 'Caveat', 'Shadows Into Light', cursive, sans-serif;
  color: #2c3e50;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #e67e22;
}
/* Button Styles */
button {
  background-color: #f1c40f;
  color: #2c3e50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: 'Caveat', 'Shadows Into Light', cursive, sans-serif;
  font-size: 1.1rem;
}

button:hover {
  background-color: #e67e22;
  transform: scale(1.05);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .h1 {
      font-size: 2rem;
  }

  .h2 {
      font-size: 1.5rem;
  }

  p {
      font-size: 1rem ;
  }

  .my-text {
      font-size: 1.1rem;
  }
}