.write{
    display:flex;
    flex-direction:row;
    color:blue;
    box-shadow: 0 0 2% orange;

}
.write.hover{
    background-color:orange;
    color:blue;
}
.write1{
    display:flex;
    flex-direction:column;
    justify-content:space-between ;
    padding:2%;
    color:orange;

}
button{
    color:#75f7ec;
    box-shadow: 0 0 2% orange;
}
button.hover{
    color:blue;
}